## DataScience Tools and Eco systems

In this notebook, Data sceince Tools and Ecosystems are summarised

**Objectives:**

- List popular programming languages for Data Science.
- Introduce common data science libraries used by data scientists.
- Demonstrate creating Markdown cells and basic Markdown syntax in Jupyter Notebook.
- Perform arithmetic operations and basic calculations in Python code cells.
- Convert units (e.g., minutes to hours) using Python code cells.

Some of the commonly used languages that Data sciecntists use are :

1. Python
2. R
3. Java
4. Java
5. Julia

Some of the most commonly used libraries used by Data scients include :

1. pandas
2. NumPy
3. Scikit-learn 
4. Matplotlib

Data science tools 

# Data Science Tools

| Data Science Tools                   |
|--------------------------------------|
| Jupyter Notebook                     |
| RStudio                              |
| Visual Studio Code                   |

Below are a few examples of evaluating arithmetic expressions in Python

### Arithmetic Expression Examples

1. **Addition**: `5 + 3` results in `8`.
2. **Subtraction**: `10 - 4` results in `6`.
3. **Multiplication**: `7 * 2` results in `14`.
4. **Division**: `20 / 4` results in `5.0`.

In [6]:
# This is a simple arithmetic expression to multiply then add integers
answer = (3 * 4) + 5
print(answer)

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [ ]:
## Author

Nipun Jain